---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import { IoLogoGithub } from 'react-icons/io5/index.js'
import FootprintIcon from './icons/footprint'
import ThemeToggle from './ThemeToggleButton'
const posts = await Astro.glob('../pages/about/aboutme.md')
---

<header
  class="fixed w-full p-2 z-20 bg-slate-100 dark:bg-zinc-900 transition-colors"
>
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/" class="group">
        <h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg">
          <img class="w-8 inline-block" src="/favicon.ico" />
          {SITE_TITLE}
        </h2>
      </a>
          {SITE_DESCRIPTION}
      <div class="flex-1"></div>
      <div class="items-center gap-6 flex">
        <HeaderLink href="/about/">
          <ul class="grid grid-cols-1 gap-4">
            {
              posts.map(post => (
                <li class="mb-4">
                  <a href={post.url}>
                    About
                  </a>
                </li>
              ))
            }
          </ul>
        </HeaderLink>

      </div>
      <ThemeToggle client:visible />
    </nav>
  </div>
</header>
